.rot
{
  animation: rot 1.5s infinite linear;
}
@keyframes rot {
  from {
    transform: rotate(0deg) translate(-8px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-8px) rotate(-360deg);
  }
}
@keyframes blink {

  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
.saving span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  font-size: 50px !important;
  margin-top: 120px !important;
}
.saving span:nth-child(2) {
  animation-delay: .2s;
}
.saving span:nth-child(3) {
  animation-delay: .4s;
}
.blink {
  opacity: 0;
  animation-name: blink2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  @keyframes blink2 {

    0% {
      opacity: 1;
    }
    51% {
      opacity: 1;
    }
    65% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.1;
    }
  }
}
.animationnotfound {
  opacity: 0;
  animation-name: disappear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.7s;
}
@keyframes disappear {

  40% {
    opacity: 0;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  47% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
}
.bounceinslow {
  animation: bounceinslow;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes bounceinslow {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
.path {
  stroke-dasharray: 1000;
  stroke-linecap: round;
  animation: dash 4s linear;
  animation-fill-mode: forwards;
}
@keyframes dash {
  from {
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    stroke-width: 1px;
  }
  to {
    stroke-dasharray: 0;
    stroke-dashoffset: 100;
    stroke-width: 1px;
  }
}


.hash {
  color: $white;
  font-weight: 400 !important;
  letter-spacing: 1px;
  animation: transparence 6s;
  .fas {
    padding-left: 6px;
    font-size: 20px;
    animation: bounceIn 7s;
    @keyframes transparence {
      0% {
        opacity: 0;
      }
      35% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
.Fileanimation{
  height: 100vh;
  width: 100%;
}
.ad-1{
  animation-duration: 1s!important;
}
.ad-9{
  animation-duration: 9s!important;
}
.ade-1{
   animation-delay: 1s!important;
   opacity: 0!important;
 }
.ade-4{
  animation-delay: 4s!important;
  opacity: 0!important;
}
.ade-2{
  animation-delay: 2s!important;
}