.dashboard {
  margin-left: 10vh;
  p {
    font-family: 'Roboto', sans-serif !important;
    color: $white !important;
    font-size: 13px !important;
    font-weight: 100 !important;
    text-align: left;
    line-height: 1.8em;
    letter-spacing: 0.09em;
    padding-top: 10px;
    margin-right: 30px;
  }
  .btn-dashboard {
    color: $lightgreen !important;
    text-transform: uppercase !important;
    font-weight: 400 !important;
    font-size: $normaltext !important;
    letter-spacing: 0.05em !important;
  }
  .btn {
    border: 1px solid $lightgreen;
    background-color: transparent;
    border-radius: 0.3em !important;
    align-self: center;
    padding: 0.8em 1.3em 0.8em 1.3em;
    margin-top: 230px;
    width: 265px;
    border-color: $lightgreen !important;
  }
  .btn:hover {
    background-color: $lightgreen;
    text-decoration-color: $darkblue !important;
  }
  .btn:active {
    background-color: $lightgreentransparent;
    text-decoration-color: $darkblue !important;
  }
  .btn-dashboard:hover {
    color: $darkblue !important;
    font-weight: 500 !important;
  }
  .btn-dashboard:active {
    color: $white !important;
    font-weight: 500 !important;
  }
  h2 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.8em !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    color: $white;
    margin-top: 10vh;
  }
  .buttonscol {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
  }
  .inputstylebtn {
    visibility: hidden;
    width: 0;
    position: relative;
  }
  .inputstylebtn::before {
    content: 'SUBIR DOCUMENTO' url("./assets/upload.png") 'Arrastre el documento aquí o haga clic para buscarlo';
    width: 265px;
    display: inline-block;
    border: 1px solid $lightgreen;
    background-color: transparent;
    border-radius: 0.3em !important;
    align-self: center;
    padding: 0.8em 1.3em 0.8em 1.3em;
    color: $lightgreen !important;
    font-weight: 400 !important;
    font-size: $normaltext !important;
    letter-spacing: 0.05em !important;
    -webkit-user-select: none;
    cursor: pointer;
    visibility: visible;
    position: absolute;
    margin-top: 20px;
  }
  .inputstylebtn:hover::before {
    content: 'SUBIR DOCUMENTO' url("./assets/uploadblue.png") 'Arrastre el documento aquí o haga clic para buscarlo';
    background-color: $lightgreen;
    text-decoration-color: $darkblue !important;
    color: $darkblue !important;
    font-weight: 500 !important;
  }
  .inputstylebtn:active::before {
    content: 'SUBIR DOCUMENTO  ' url("./assets/uploadwhite.png") 'Arrastre el documento aquí o haga clic para buscarlo';
    background-color: $lightgreentransparent;
    text-decoration-color: $darkblue !important;
    color: $white !important;
    font-weight: 500 !important;
  }
  .inputstylebtnverify {
    visibility: hidden;
    width: 0;
    position: relative;
  }
  .inputstylebtnverify::before {
    content: 'VERIFICAR DOCUMENTO' url("./assets/verify.png") 'Arrastre el documento aquí o haga clic para buscarlo';
    width: 265px;
    display: inline-block;
    border: 1px solid $lightgreen;
    background-color: transparent;
    border-radius: 0.3em !important;
    align-self: center;
    padding: 0.8em 1.3em 0.8em 1.3em;
    color: $lightgreen !important;
    font-weight: 400 !important;
    font-size: $normaltext !important;
    letter-spacing: 0.05em !important;
    -webkit-user-select: none;
    cursor: pointer;
    visibility: visible;
    position: absolute;
    margin-top: 124px;
  }
  .inputstylebtnverify:active::before {
    content: 'VERIFICAR DOCUMENTO' url("./assets/verify.png") 'Arrastre el documento aquí o haga clic para buscarlo';
    background-color: $lightgreentransparent;
    text-decoration-color: $darkblue !important;
    color: $white !important;
    font-weight: 500 !important;
  }
  .inputstylebtnveriy:active::before {
    content: 'VERIFICAR DOCUMENTO' url("./assets/verifywhite.png") 'Arrastre el documento aquí o haga clic para buscarlo';
    background-color: $lightgreentransparent;
    text-decoration-color: $darkblue !important;
    color: $white !important;
    font-weight: 500 !important;
  }
}