#app {
  .imageback {
    background-image: url("./assets/fondo.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: left;
    z-index: 2!important;
  }
  .imageback2 {
    background-image: url("./assets/fondo1.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: right;
  }
    .home {
      padding-top: 25vh;
      .homecontent {
        display: flex;
        flex-direction: column;
      }
      .h1 {
        font-family: 'Roboto', sans-serif!important;
        font-size: 4em !important;
        font-weight: 700 !important;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.3em;
        line-height: 1.2em;
      }
      @mixin textGlitch($name, $intensity, $textColor, $background, $highlightColor1, $highlightColor2, $width, $height) {
        color: $textColor;
        position: relative;
        $steps: $intensity;
        @at-root {
          @for $i from 1 through 2 {
            @keyframes #{$name}-anim-#{$i} {
              @for $i from 0 through $steps {
                #{percentage($i*(1/$steps))} {
                  clip: rect(
                                  random($height)+px,
                                  $width+px,
                                  random($height)+px,
                                  0
                  );
                }
              }
            }
          }
        }
        &:before,
        &:after {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background: $darkblue;
          background-image: url("./assets/frame.png");
          background-repeat: repeat;
          clip: rect(0, 0, 0, 0);
        }
        &:after {
          left: 2px;
          text-shadow: -1px 0 $highlightColor1;
          animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
        }
        &:before {
          left: -2px;
          text-shadow: 2px 0 $highlightColor2;
          animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
        }

      }
      .textcenter{
        width: 60% !important;
        text-align: center!important;
        justify-self: center!important;
        margin-left:20%!important;
        margin-top: 20px!important;
      }
      .center{
        margin-top: 30vh!important;
        color: transparent!important;
      }
      .leftext{
        margin-left: 18% !important;
      }
      .contentfront{
        z-index: 1!important;
        margin-top: -40vh!important;
      }
      .content {
        margin-left:5%!important;
        font-family: 'Roboto', sans-serif !important;
        font-size: 4em !important;
        font-weight: 700 !important;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.7em;
        line-height: 1.2em;
        @include textGlitch("glitch", 17, white, black, red, blue, 1084, 115);
      }
      @media screen and (max-width: 1200px) {
        h1 {
          letter-spacing: 0.3em;
          font-size: 3.5em !important;
        }
      }
      @media screen and (max-width: 1500px) {
        h1 {
          letter-spacing: 0.5em;
        }
      }
      .lineth {
        color: $darkblue;
        text-decoration: line-through;
        height: 20px;
      }
      .linetext {
        color: $white;
      }
      p {
        font-family: 'Roboto', sans-serif !important;
        color: $white !important;
        font-size: $normaltext !important;
        font-weight: 100 !important;
        text-align: left;
        line-height: 1.6em;
        letter-spacing: 0.1em;
      }
      .buttontext {
        position: absolute;
        color: $lightgreen !important;
        text-transform: uppercase !important;
        font-weight: 500 !important;
        font-size: $textbutton !important;
        letter-spacing: 0.15em !important;
        -webkit-align-content: center;
        align-content: center;
        -webkit-transform: rotate(-45deg) !important;
        -moz-transform: rotate(-45deg) !important;
        -ms-transform: rotate(-45deg) !important;
        -o-transform: rotate(-45deg) !important;
        transform: rotate(-45deg) !important;
      }
      .btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $lightgreen;
        background-color: transparent;
        width: 12vh;
        height: 12vh;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 0 !important;
        align-self: center;
        margin-top: 3em;
      }
      .btn:hover {
        background-color: $lightgreen;
        text-decoration-color: $darkblue !important;
      }
      .buttontext:hover {
        color: $darkblue !important;
      }
      footer {
        position: fixed;
        left: 0;
        bottom: 1vh;
        width: 100%;
        background-color: transparent;
        color: white;
        text-align: center;
        img {
          height: 45px;
        }
      }
      .logotoolkit{
        margin-top: 30px!important;
        margin-left: 30px!important;
      }
      .linefooterhome {
        position: relative;
        align-items: center;
      }
      .linefooterhome:before {
        background-color: $whitetransparent;
        content: '';
        height: 20px;
        left: -1px;
        position: absolute;
        top: 25%;
        width: 1px;
        align-self: center;
      }
    }
  }
