// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

// stylelint-disable
$darkblue: #011834;
$lightgreen: #37F6D5;
$lightgreentransparent: rgba(55, 246, 213, 0.48);
$green: #6BFF71;
$yellow: #FFDB1F;
$red: #E43751;
$white: #FFFFFF;
$whitetransparent: rgba(255, 255, 255, 0.17) ;
$normaltext: 14px;
$textbutton: 15px;
$pink: #E43751;
$lightpink:#E55067;
