@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700');
@import "navbar";

#app{
  background-color: $darkblue!important;
  height: 100vh;
  background-image: url("./assets/frame.png");
  background-repeat: repeat;
  .imageback{
    background-image: url("./assets/fondo.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: left;

  }
  .imageback2{
    background-image: url("./assets/fondo1.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: right;


  }

  .home{
    padding-top: 25vh;
.homecontent{
  display: flex;
  flex-direction: column;
}

  h1{
    font-family: 'Raleway', sans-serif!important;
    font-size: 4em!important;
    font-weight: 700!important;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.7em;
    line-height: 1.2em;

  }
    @media screen and (max-width: 1200px) {
      h1 {
        letter-spacing: 0.3em;
        font-size: 3.5em!important;
      }
    }
    @media screen and (max-width: 1500px) {
      h1 {
        letter-spacing: 0.5em;
      }
    }
    .lineth{
      color: $darkblue;
      text-decoration: line-through;
      height: 20px;
    }

    .linetext{
      color: $white;
    }
    p{
      font-family: 'Raleway', sans-serif!important;
      color: $white!important;
      font-size: $normaltext!important;
      font-weight: 100!important;
      text-align: left;
      line-height: 1.6em;
      letter-spacing: 0.1em;

    }
    .buttontext{
      position: absolute;
      color: $lightgreen!important;
      text-transform: uppercase!important;
      font-weight: 500!important;
      font-size: $textbutton!important;
      letter-spacing: 0.15em!important;
      -webkit-align-content: center;
      align-content: center;
      -webkit-transform: rotate(-45deg)!important;
      -moz-transform: rotate(-45deg)!important;
      -ms-transform: rotate(-45deg)!important;
      -o-transform: rotate(-45deg)!important;
      transform: rotate(-45deg)!important;

    }
    .btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $lightgreen;
      background-color: transparent;
      width: 12vh;
      height: 12vh;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      border-radius: 0!important;
      align-self: center;
      margin-top: 3em;

    }
    .btn:hover {
      background-color: $lightgreen;
      text-decoration-color: $darkblue!important;

    }
    .buttontext:hover{
      color: $darkblue!important;
    }

    footer {
      position: fixed;
      left: 0;
      bottom: 1vh;
      width: 100%;
      background-color: transparent;
      color: white;
      text-align: center;
      img{
        height: 45px;
      }
      }
    .linefooterhome{
      border-left: 1px solid $whitetransparent;


    }

  }
}




