@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import "navbar";
@import "dashboard";
@import "home";
@import "upload";
@import "download";


#app {
  background-color: $darkblue !important;
  height: 100vh;
  background-image: url("./assets/frame.png");
  background-repeat: repeat;
}
