@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700');
@import "navbar";
@import "dashboard";
@import "home";
@import "upload";
@import "download";


#app {
  background-color: $darkblue !important;
  height: 100vh;
  background-image: url("./assets/frame.png");
  background-repeat: repeat;
}
